.cutoff-text {
    --max-lines: 4;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
}
.cutoff-text::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom:0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
}

@media (prefers-color-scheme: dark) {
    .cutoff-text::before {
        background: linear-gradient(to bottom, transparent, black);
    }
}